
body{

    font-family: Arial;

}

.login{
    text-align: center;
    margin-top: 30px;
}


.button {
    background-color: #060621;
    border: none;
    color: white;
    padding: 6px 111px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}


.logo {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}

.inputs_register{
    width: 280px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.labels_register{
    margin-top: 0px;
    margin-bottom: 0px;
}
.text_index{
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}
.imageadvert{
    width: 95%;
    height: 50%;
}
.advertIndex{
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    width: 15%;
    margin: 3px;
}

.logo_div{
    text-align: center;

}

.logo_register {
    width: 150px;
    height: 150px;

}