
body{

    font-family: Arial;

}

.row {
    margin-top: 20px;
}

.login{
    text-align: center;
    margin-top: 30px;
}


.button {
    background-color: #060621;
    border: none;
    color: white;
    padding: 6px 111px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}


.logo {
    max-width: 300px;
    max-height: 300px;
}

.inputs_register{
    width: 280px;
    margin-top: 0;
    margin-bottom: 5px;
}

.labels_register{
    margin-top: 0;
    margin-bottom: 0;
}

.text_index{
    text-align: left;
    display: block;
}

.imageadvert{
    max-width: 600px;
    max-height: 400px;
}

.advertIndex{
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin: 3px;
}

.filter{

}

.margins{
    margin-left: 30px;
    margin-top: 10px;
}

.ajust_labels{
    display: block;
    width: 150px;
    float: left;
}
